* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }

  /* Definindo a largura da viewport */
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    background-color: #181818;
    color: #fff;
}

.tela-cheia {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.perfil {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #222;
    text-align: center;
}

.perfil .foto-nome {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.perfil h1 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 36px;
    text-align: center;
}

.perfil ul {
    padding-left: 0;
    margin-top: 10px;
}

.perfil li {
    margin-bottom: 10px;
    list-style-type: none;
}

.perfil img {
    padding: 1%;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

.texto-multicolor {
    background: linear-gradient(90deg, rgb(42, 226, 233) 0%, rgb(76, 9, 231) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.secao-projetos {
    background-color: #111;
}

.projeto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #333;
}

.projeto-info {
    width: 40%;
}

.projeto-img {
    width: 45%;
}


.projeto-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* Contêiner do carrossel */
.carrossel1, .carrossel2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 200px; /* Altura mínima para garantir visibilidade inicial */
    overflow: hidden; /* Esconde as imagens que saem do contêiner */
}

/* Imagens do carrossel */
.carrossel1 img, .carrossel2 img {
    max-width: 100%; /* Garante que a imagem nunca exceda a largura do contêiner */
    max-height: 100%; /* Garante que a imagem nunca exceda a altura do contêiner */
    width: 100%;
    height: auto;
    display: none; /* Esconde todas as imagens inicialmente */
    object-fit: contain; /* Ajusta a imagem dentro do contêiner sem cortar */
}

/* Imagem ativa */
.carrossel1 img.active, .carrossel2 img.active {
    display: block; /* Exibe apenas a imagem ativa */
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.link-botao {
    margin-top: 16px;
    margin-right: 16px;
    display: inline-block;
    background: linear-gradient(90deg, rgb(42, 226, 233) 0%, rgb(76, 9, 231) 100%);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
    text-align: center;
}

.link-botao:hover {
    background: linear-gradient(90deg, rgb(76, 9, 231) 0%, rgb(42, 226, 233) 100%);
}

footer {
    background-color: #333; /* Cor do fundo do rodapé */
    padding: 20px 0;
    text-align: center;
    color: white; /* Cor do texto */
}

.contact p{
    font-size: 36px;
    margin-bottom: 10px;
}

.contact a {
    margin: 0 15px; /* Espaçamento entre os ícones */
    display: inline-block;
}

.contact img {
    width: 40px; /* Tamanho dos ícones */
    height: auto;
    transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.contact a:hover img {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}



@media (max-width: 768px) {
    .projeto {
        flex-direction: column;
    }

    .projeto-info, .projeto-img {
        width: 100%;
    }

    .perfil .foto-nome {
        flex-direction: column;
    }

    .perfil img {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 28px;
    }

    .link-botao {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .perfil img {
        width: 250px;
        height: 250px;
    }

    .link-botao {
        margin-top: 6px;
        margin-bottom: 6px;
        margin-right: 6px;
        font-size: 12px;
        padding: 6px 12px;
    }

    p {
        font-size: 14px;
    }
}

